<html>

<head>
    <title>TechStore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <h2>Admin</h2>
        <p>Moderate Employees</p>
        <form class="form-inline ml-auto">
                <div class="md-form my-0">
                  <input class="form-control" type="text" placeholder="Search Employees" aria-label="Search Employees">
                </div>
                <button href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
              </form>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email Id</th>
                    <th>Designation</th>
                    <th>Joining Date</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HR1563784025</td>
                    <td>Haldi</td>
                    <td>Ram</td>
                    <td>haldiram@gmail.com</td>
                    <td>Product Manager</td>
                    <td>07/22/2019</td>
                    <td><button> </button></td>

                </tr>
                
                
            </tbody>
        </table>
    </div>



  
    <script>
        $(".disapprove").click(disapproveClicked);
        $(".approve").click(approvedClicked);

        function disapproveClicked(e) {
            console.log("CLICKED");
            var trIndex = $(this).closest('tr').index();
            var tr = $(this).closest('tr');
            var postId = $(this).closest('tr').find("#postId").text().trim();
            $.post('/admin/disapprove/' + postId, (data) => {
                console.log(tr);


                console.log(data);
                // tr.html(`
                //     <td>
                //             ${data.post.firstName}
                //         </td>
    
    
                //         <td>
                //             ${data.post.lastName}
    
                            
                //         </td>
                //         <td>
                //                 ${data.post.userId}
                //         </td>
    
                //         <td>
                //             <div id="postId">
    
                //             ${data.post.id}
                                
                //             </div>
                //         </td>
                //         <td><a href="/profile/post/${data.post.id}">Here</a></td>
    
    
                //         <td>
                //                 ${data.post.status}
                        
                //         </td>
    
    
    
                //         <td>
                //             <input type="button" class="btn btn-success approve" value="Approve" id="approveBtn-${trIndex}">
                //             <input type="button" value="Send to Moderation" class="btn btn-primary moderate" id="moderateBtn-${trIndex}">
                //         </td>
                //     `);
            });
        }


    </script>
    <script>
        /* $("[id|='approveBtn']").click(function (e) {
            console.log("CLICKED Approved");
            var trIndex = $(this).closest('tr').index();
            var tr = $(this).closest('tr');
            var postId = $(this).closest('tr').find("#postId").text().trim();
            $.post('/admin/approve/' + postId, (data) => {
                console.log(data);
                tr.html(`
                    <td>
                        ${data.post.firstName}
                    </td>
 
                    <td>
                        ${data.post.lastName}
 
                        
                    </td>
                    <td>
                            ${data.post.userId}
                    </td>
 
                    <td>
                        <div id="postId">
 
                        ${data.post.id}
                            
                        </div>
                    </td>
                    <td><a href="/profile/post/${data.post.id}">Here</a></td>
 
 
                    <td>
                            ${data.post.status}
                    
                    </td>
 
 
 
                    <td>     
                        <input type="button" class="btn btn-danger" value="Disapprove" id="disapproveBtn-${trIndex}">
                        <input type="button" value="Send to Moderation" class="btn btn-primary" id="moderateBtn-${trIndex}">
                    </td>
                `)
 
            });
        }); */

        $(".approve").click(approvedClicked);

        $(".disapprove").click(disapproveClicked);

        function approvedClicked(e) {
            console.log("CLICKED Approved");
            var trIndex = $(this).closest('tr').index();
            var tr = $(this).closest('tr');
            var postId = $(this).closest('tr').find("#postId").text().trim();
            $.post('/admin/approve/' + postId, (data) => {
                console.log(data);
                // tr.html(`
                //         <td>
                //             ${data.post.firstName}
                //         </td>
    
                //         <td>
                //             ${data.post.lastName}
    
                            
                //         </td>
                //         <td>
                //                 ${data.post.userId}
                //         </td>
    
                //         <td>
                //             <div id="postId">
    
                //             ${data.post.id}
                                
                //             </div>
                //         </td>
                //         <td><a href="/profile/post/${data.post.id}">Here</a></td>
    
    
                //         <td>
                //                 ${data.post.status}
                        
                //         </td>
    
    
    
                //         <td>     
                //             <input type="button" class="btn btn-danger disapprove" value="Disapprove" id="disapproveBtn-${trIndex}">
                //             <input type="button" value="Send to Moderation" class="btn btn-primary moderate" id="moderateBtn-${trIndex}">
                //         </td>
                //     `)


            });
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>