<html>

<head>
  <title>TechStore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-inverse" style="background-color:#009688">
    <div class="container-fluid">
      <a href='/'>
        <div class="navbar-header" style="color:#ffffff">
          <h1>TechStore</h1>
        </div>
      </a>
      <div class="input-group-btn">

        <a href="/employee/logout">
          <button class="btn btn-primary" type="submit" style="margin-left:-50px">
            LogOut
          </button>
        </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1 style="text-align: center; color: black" id="totalPriceDiv">Total Amount: <span id="totalPrice">0</span></h1>
      <!--Yesma total amount pachi number from database-->
    </div>
    <div class="input-group-btn">
      <button class="btn btn-primary" type="button" name="createTransaction" id="createTransaction"
        style="margin-left:-50px">
        Create Transaction
      </button>
    </div>
    <!--Yesma product id ra quantity submit gareko kura variable ma store gara-->
    <form>
      <div class="input-group">

        <div class="row">
          <div class="col-sm-6"><input type="text" disabled class="form-control" name="productId" id="productId"
              placeholder="Product ID"></div>
          <div class="col-sm-5"><input type="int" disabled class="form-control" name="quantity" id="quantity"
              placeholder="Quantity"></div>
        </div>


        <div class="input-group-btn">
          <button class="btn btn-default" type="button" name="submit" id="submit" style="margin-left:-50px">
            Submit
          </button>
        </div>
        <div class="input-group-btn">

          <button class="btn btn-danger" type="button" name="reset" id="reset" style="margin-left:2px">
            Reset
          </button>

        </div>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button" name="paid" id="paid" style="margin-left:5px">
            Paid
          </button>
        </div>


      </div>
    </form>
    <div hidden id="storeId" name='storeId'>

      <%= result.storeID %>
    </div>
    <div hidden id="saleId" name='saleId'></div>
  </div>

  <br>
  <br>

  <!--mathi ko variable ma store bhako kura anusar tala ko table ma data hala-->
  <table class="table table-striped">
    <thead>
      <th style="text-align: center">Product name</th>
      <th style="text-align: center">Quantity</th>
      <th style="text-align: center">Amount per item</th>
      <th style="text-align: center">Total Amount(Rs)</th>
      </tr>
    </thead>
    <tbody id="table" style="text-align: center">

    </tbody>
  </table>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


  <script>
    let totalPrice = 0;
    $(document).ready(function () {

      $("#createTransaction").click(function () {
        //Fetch to handleSales route
        const storeId = $('#storeId').text().trim();
        console.log(storeId)

        fetch('/employee/handleSale', {
          method: 'POST',
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            storeId
          })
        })
          .then(resp => resp.json())
          .then(data => {
            console.log(data);
            if (data.status == 200) {
              $('#productId').attr('disabled', false);
              $('#quantity').attr('disabled', false);
              $('#saleId').text(data.saleId);
            }

          })
          .catch((err) => {
            console.log(err);
          })
      });
      //ON Success

    })

    $("#submit").click(function () {
      const productId = $('#productId').val();
      const quantity = $('#quantity').val();
      const saleId = $('#saleId').text().trim();
      // console.log(productId,quantity);
      fetch('/employee/addToList', {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          productId: productId,
          quantity: quantity,
          saleId: saleId
        })
      })
        .then(resp => resp.json())
        .then(data => {
          console.log("DATA: ", data.result);



          for (var i = 0; i < data.result.length; i++) {
            let quantity = parseFloat(data.result[i].quantity)
            let price = parseFloat(data.result[i].price)
            let total = quantity * price;
            totalPrice += total;

            console.log("QYQWYE", quantity, price, total)


            console.log("TOTAL: ", total)
            $('#table').append(`
            <tr id="${data.result[i].product_id}">
        <td>${data.result[i].name} </td>
        <td>${data.result[i].quantity}</td>
        <td>${data.result[i].price}</td>
        <td>${total.toString()}</td>
      </tr>
              `)
          }
          $('#totalPrice').text(totalPrice);



        })
        .catch((err) => {
          console.log(err);
        })

    });

    $('#reset').click(function () {
      const products = [];
      let childrenLength = $('#table').children().length;
      let children = $('#table').children();

      const saleId = $('#saleId').text().trim();
      
      console.log("CHILDREN: ",children)
      for (var i = 0; i < childrenLength; i++) {
        console.log("CHILDREN: ",children[i].id)
        products.push(children[i].id);
        fetch('/employee/reset', {
          method: 'POST',
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            productId: children[i].id.toString(),
            saleId: saleId.toString()
          })
        })
          .then(resp => resp.json())
          .then(data => {
            if (data.status == 200)
              $(`#${data.productId}`).remove();
          })
          .catch(err => { throw err })
      }

    });
  </script>
</body>

</html>